################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetMarket/.vs/NetMarket/FileContentIndex/a04e8b31-5ec5-457a-86fd-4689e0fc9e26.vsidx
/NetMarket/.vs/NetMarket/FileContentIndex/232c6ca4-854b-4a04-972c-61c091c15f77.vsidx
/NetMarket/.vs/NetMarket/v17/.suo
/NetMarket/.vs/NetMarket/FileContentIndex/a04e8b31-5ec5-457a-86fd-4689e0fc9e26.vsidx
/NetMarket/BusinessLogic/bin/Debug/net7.0/BusinessLogic.pdb
/NetMarket/BusinessLogic/obj/Debug/net7.0/ref/BusinessLogic.dll
/NetMarket/BusinessLogic/bin/Debug/net7.0/BusinessLogic.dll
/NetMarket/BusinessLogic/obj/Debug/net7.0/refint/BusinessLogic.dll
/NetMarket/WebApi/obj/Debug/net7.0/WebApi.csproj.AssemblyReference.cache
/NetMarket/WebApi/obj/Debug/net7.0/WebApi.dll
/NetMarket/WebApi/obj/Debug/net7.0/WebApi.pdb
/NetMarket/WebApi/bin/Debug/net7.0/WebApi.pdb
/NetMarket/WebApi/bin/Debug/net7.0/WebApi.dll
/NetMarket/WebApi/bin/Debug/net7.0/BusinessLogic.pdb
/NetMarket/WebApi/bin/Debug/net7.0/BusinessLogic.dll
/NetMarket/BusinessLogic/obj/Debug/net7.0/BusinessLogic.pdb
/NetMarket/BusinessLogic/obj/Debug/net7.0/BusinessLogic.dll
/NetMarket/.vs/NetMarket/FileContentIndex/5ef720e8-7660-43df-9103-6a1ab39cc5c6.vsidx
/NetMarket/.vs/NetMarket/FileContentIndex/0430a6ee-0acf-4ada-8f95-e2ce0eff99bc.vsidx
/NetMarket/.vs/NetMarket/FileContentIndex/1f740617-8892-4daf-a4ec-5a614902cf01.vsidx
*.vsidx
/NetMarket/.vs/NetMarket/FileContentIndex/864ac0d8-53e6-4d93-9e40-3a049ff0f05b.vsidx
/NetMarket/.vs/NetMarket/FileContentIndex/a5f42c14-336c-4484-b976-308edadc357b.vsidx
